.mainHome {
width: 100%
}
.mainHeader {
  text-align: center;
  margin: 0 !important;
}

.header {
    border: 1px solid #ccc;
    cursor: pointer;
}

.content {
    border: 1px solid #ccc;
    align-items: center;
    display: flex;
}
.mainContent {
      padding: 32px 325px 0px 325px;
      margin: 0 !important;
      background-color: #cccccc59;
}

.contentList {
  margin: 0 !important;
}
.image {
  width: 200px;
  height: 250px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.itemContainer {
  padding-bottom: 22px;
}

.item {
    width: 201.5px;
    border: 1px solid #cccccc59;
    background-color: #ffffff;
    height: 350px;
    border-radius: 12px;
    height: 375px;
}
.price{
  padding-left: 15px;
}

.oldPrice {
  color: #dc3545;
}

.name {
  font-size: 13px;
  padding-top: 15px;
  padding-left: 15px;
}


.promotion {
  position: absolute;
  left: 148px;
  top: 8px;
  background-color: #ec9a9a4f;
  border-radius: 55px;
  font-size: 14px;
  font-weight: 500;
  color: brown;
  width: 61px;
  padding-left: 2px;
}

.lowOnStock {
  color: #e8b011;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
}

.inStock {
  color: #0cca61;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
}

.outOfStock {
  color: #e81111;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
}

.selectionCheck{
  position: absolute !important;
    top: 13px !important;
    left: 24px !important;
}

.buttonContainer {
  background-color: #9484da85;
    width: 213px;
    margin-bottom: 16px;
    height: 38px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 5px;
    margin-left: 15px;
    cursor: pointer;
}
